<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instantloanguide.allloantips">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanGuide">
        <activity
            android:name=".activities.TipsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:exported="false" />

        <service
            android:name=".utils.MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.AppDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoanAppsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SalaryAmountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PurposeForLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoanAmountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IncomeResourceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.LoanGuide.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <meta-data android:name="applovin.sdk.key"
            android:value="ksHAcmHXHidLv2Z4I8Xh935-zmB22WK7W0Ir0MXJR5s8z0lo2qfryQBIiyh53bG5PquxI4RSHOZZubFpt0v2Qi"/>

    </application>

</manifest>