<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreamteam.teamprediction">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".fordreamteamcricket.utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanGuide"
        tools:targetApi="n">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".fordreamteamcricket.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.TipsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.PrivacyPolicyActivity"
            android:exported="false" />

        <service
            android:name=".fordreamteamcricket.utils.MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".fordreamteamcricket.activities.AppDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.LoanAppsActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.SalaryAmountActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.PurposeForLoanActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.CheckDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.LoanAmountActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.IncomeResourceActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.LoanGuide.NoActionBar" />
        <activity
            android:name=".fordreamteamcricket.activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".fordreamteamcricket.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="GgLgSCRJuuwaT0BTcIsnQ1DPOdEioGgavMteEAVnFP4HrKRiBrwhezR0TgSh1L_oOZTelQGMC9PQeSHPsUf8fW" />
    </application>

</manifest>